.container
  = link_to '<< タグ一覧へ', tags_path

.page-header
  .container
    %h1= @tag.name
    %div
      #{@tag.name}に関する情報が集まっています。
      現在#{@tag.items.count}件の投稿があります。

.container
  = render @items

  = paginate @items
