.page-header.userShowHeader
  .container
    %h1
      = image_tag user_icon_url(@user), class: 'userIcon'
      #{@user.name}

.container
  = render 'users/tab', user: @user

  - @items.each do |item|
    = render item

  = paginate @items
