- user = @item.user
.page-header.itemShowHeader
  .container
    .row
      .col-sm-9
        %h1.title
          = @item.title
        %ul.tags.clearfix
          - @item.tags.each do |tag|
            %li
              %span.tag= link_to tag.name, tag
        .message
          = link_to user do
            = image_tag user_icon_url(user), class: 'userIcon'
          %span.userName= link_to user.name, user
          = "が#{@item.published_at.to_date}に投稿しました"
        - if current_user == @item.user
          %ul.itemEditorMenus.clearfix
            %li= link_to '投稿を編集', edit_user_item_path(current_user, @item), class: 'btn btn-default'
            %li= link_to '削除', user_item_path(current_user, @item), method: :delete, class: 'btn btn-danger'

      .col-sm-3
        .itemShowHeaderStock
          %h5.stockCount= @item.stocks.count
          .stockText ストック
          - if current_user
            = render 'items/stock_btn', item: @item, user: current_user

.page-body.itemShowBody
  .container.markdown-body
    = markdown(@item.body)

