%nav.navbar.navbar-light.bg-faded
  .container
    = link_to top_path, class: 'navbar-brand' do
      Kiita
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li.nav-item= button_to "投稿する", new_user_item_path(current_user), class: 'navbar-btn btn btn-primary', method: :get
        %li.nav-item= link_to "マイページ", user_path(current_user)
        %li.nav-item= link_to "設定", settings_path
        %li.nav-item= link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.nav-item= link_to "ユーザー登録", new_user_registration_path
        %li.nav-item= link_to "ログイン", new_user_session_path

