.page-header
  .container
    %h2 Sign up

.container
  = simple_form_for(resource, url: user_registration_path) do |f|
    .form-inputs
      = f.input :name
      = f.input :email
      - if resource.password_required?
        = f.input :password
        = f.input :password_confirmation

    .form-actions
      = f.submit "Sign up", class: 'btn btn-primary'

  = link_to "Cancel", welcome_path, class: 'btn btn-default'
