.container
  %h2 Sign up
  = simple_form_for(resource, url: user_registration_path) do |f|
    = f.input :name
    = f.input :email
    - if resource.password_required?
      = f.input :password
      = f.input :password_confirmation
    = f.submit "Sign up", class: 'btn btn-primary'

  %ul
    %li
      = link_to "Twitterで新規登録", omniauth_authorize_path(:user, :twitter), class: 'btn btn-default'

  = link_to "Back", :back
